@use '../base/variable' as *;

.choose {
  padding-top: 36px;
  padding-bottom: 36px;

  &__title {
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    row-gap: 36px;
    column-gap: 59px;
  }

  &__item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #d9d9d9;
    color: #000;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    padding-top: 20px;
  }

  &__items{
    margin-top: 36px;
  }

  &__elem{
    display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
border-radius: 20px;
box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
padding-bottom: 20px;
  }

 
}
