@use "../base/variable" as *;

.choose{
    padding-top: 36px;
    padding-bottom: 36px;

&__title{
    color: #000;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 36px;
}


&__list{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    row-gap: 36px;
    column-gap: 59px;
}

&__item{
    width: 100.0px;
height: 100.0px;
border-radius: 20px;
background: #D9D9D9;
    color: #000;
text-align: center;
font-family: "Montserrat Alternates";
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 170%;
padding-top: 20px;

}


}
