@use "../base/variable" as *;

.guessnumbers{
    text-align: center; 
    padding-top: 66px;

    &__boks{
        display: flex;
        align-items: center;      
        justify-content: center;  
        gap: 15px;     
        margin-top: 36px;           
    }

    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        position: relative;
        font-size: 16px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 536px;
            height: 1px;
            background-color: #000;
            top: 145px;
        }
    }   

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
    }
    
    &__text{
        color: #039900;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        text-align: center;
        margin: 0;
    }  

    &__input {
        height: 35px;
        padding: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4); 
        transition: all 0.3s ease;

        &::placeholder{
            color: #7E7E7E;
            font-family: "Montserrat Alternates";
            font-weight: 400;
        }
    }

    &__btn{
        width: 48px;
        height: 48px;
        border: none;
        background: #000;
        border-radius: 0 30px 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // &__box{
    //     margin-top: 36px;
    // }
}
