@use "../base/variable" as *;


.guessnumbers{
    text-align: center; 
    padding-top: 66px;


    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-weight: 400;
         position: relative;
         font-size: 16px;
            &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 536px;
      height: 1px;
      background-color: #000;
      top: 145px;
    }
    }   

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 36px;
        gap: 202px;
    }
    
    &__text{
        color: #039900;
        font-family: "Montserrat Alternates";
        font-weight: 400;
    }  


     &__input {
        width: 150.0px;
        height: 35.0px;
        padding: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4); 
        transition: all 0.3s ease;

        &::placeholder{
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        }
    }

}

