@use "../base/variable" as *;

/* Хедер */
.header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

/* Логотип */
.header {
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        .img-logo {
            margin-right: 9px;
        }

        .list-coding {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;

            .coding {
                color: #000;
                font-family: "Montserrat Alternates";
                font-size: 12px;
                font-weight: 400;
                margin: 0;
            }

            .magic {
                color: #000;
                font-family: Sacramento;
                font-size: 12px;
                margin: 0;
            }
        }
    }

    /* Навігація */
    .nav {
        .list {
            display: flex;
            gap: 50px;
            align-items: center;

            .item {
                list-style: none;

                .link {
                    color: #000;
                    font-family: Sacramento;
                    font-size: 12px;
                    text-decoration: none;
                }
            }
        }
    }

    /* Привітання + перемикач теми */
    .hellow {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: auto;

        .input {
            display: none;
        }

        .label {
            display: flex;
            align-items: center;
            border: 2px solid #e0e0e0;
            border-radius: 50px;
            padding: 6px 10px;
            cursor: pointer;
            background: #7A7A7A;
            gap: 8px;

            .img-sun {
                width: 20px;
                height: 20px;
                transition: all 0.3s ease;
                filter: invert(0);
            }

            .img-monthn {
                width: 18px;
                height: 18px;
                transition: all 0.3s ease;
                opacity: 0;
                filter: invert(1);
            }
        }

        /* Анімація перемикача */
        #switch-btn:checked ~ .label .img-sun {
            opacity: 0;
            transform: rotate(90deg);
        }

        #switch-btn:checked ~ .label .img-monthn {
            opacity: 1;
            transform: rotate(-90deg);
        }

        .text {
            color: #000;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
            margin: 0;
            white-space: nowrap;
        }
    }
}
