@use "../base/variable" as *;

.years {
    padding-top: 42px;
    text-align: center; 
    
    &__title {
        color: #000;
        position: relative;
        font-size: 16px;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        margin-bottom: 20px;
         &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 536px;
      height: 1px;
      background-color: #000;
      top: 170px;
    }
    }

    &__box {
        margin-top: 20px;
        display: flex;
        align-items: center;
        // gap: 149px;
        justify-content: space-around;
        margin-top: 46px;
        position: relative;
    }

&__input {
        width: 200px;
        height: 30px;
        padding: 9px 45px 9px 12px; 
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4);
        font-family: "Montserrat Alternates";
        outline: none;
        &::placeholder {
            color: #7E7E7E;
            font-weight: 400;
        }
    }

    &__text {
        
        color: #039900;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        line-height: normal;
    }

    &__btn{
       position: absolute;
    right: -3px;
    width: 48px;
    // left: 207px;
    bottom: 6px;
    height: 48px;
    border: none;
    background: #000;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.1px;
        // pointer-events: none; 
    }

    
    &__input-wrap {
        position: relative;
        width: 260px; 
    }
}