@use "../base/variable" as *;



.years{
    padding-top: 42px;

    &__title{
    width: 283.0px;
    height: 20.0px;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    }


    &__input{
    width: 215.0px;
    height: 35.0px;
    padding: 10px 45px 10px 10px;
    display: inline-flex;
    padding: 10px 45px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;


    &::placeholder{    
    color: #7E7E7E;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    }
    }

    &__text{
    width: 212.0px;
    height: 15.0px;
    color: #039900;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    }
}