a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input,
textarea {
  all: revert;
  outline: none;
  resize: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 8px;
  outline: 1px solid rgb(255, 0, 0);
}

.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 9px;
  text-decoration: none;
}
.header__logo {
  width: 50px;
  height: 50px;
  margin-right: 9px;
}
.header__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
}
.header__coding {
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 0;
}
.header__magic {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
}
.header .nav__list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 81px;
}
.header .nav__item .link {
  width: 97px;
  height: 15px;
  color: #000;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header .nav__item .link:hover {
  background-color: #f5f5f5;
}
.header .hellow {
  display: flex;
  align-items: center;
  gap: 51px;
  margin-left: auto;
}
.header .hellow__text {
  font-family: "Montserrat Alternates";
  font-size: 12px;
  color: #000;
  margin: 0;
}
.header .hellow__input {
  display: none;
}
.header .hellow__label {
  display: flex;
  align-items: center;
  border: 2px solid #e0e0e0;
  border-radius: 50px;
  padding: 6px 10px;
  cursor: pointer;
  background: #7A7A7A;
  gap: 8px;
}
.header .hellow__sun {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.header .hellow__monthn {
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
  opacity: 0;
}
.header .hellow #hellow__btn:checked ~ .hellow__label .hellow__sun {
  opacity: 0;
  transform: rotate(90deg);
}
.header .hellow #hellow__btn:checked ~ .hellow__label .hellow__monthn {
  opacity: 1;
  transform: rotate(-90deg);
}

.popular__games {
  padding-top: 60px;
}
.popular__games__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popular__games__title {
  width: 386px;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding-bottom: 36px;
  margin: 0;
}
.popular__games__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 1px;
  background-color: #000;
}

.years {
  padding-top: 42px;
  text-align: center;
}
.years__title {
  color: #000;
  position: relative;
  font-size: 16px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  margin-bottom: 20px;
}
.years__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 1px;
  background-color: #000;
  top: 170px;
}
.years__box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 149px;
  justify-content: center;
  margin-top: 46px;
}
.years__input {
  width: 260px;
  height: 35px;
  padding: 10px;
  border-radius: 20px;
  background: #D7D7D7;
  border: none;
  box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4);
  transition: all 0.3s ease;
}
.years__input::-moz-placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.years__input::placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.years__text {
  color: #039900;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  line-height: normal;
}

.guessnumbers {
  text-align: center;
  padding-top: 66px;
}
.guessnumbers__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  position: relative;
  font-size: 16px;
}
.guessnumbers__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 1px;
  background-color: #000;
  top: 145px;
}
.guessnumbers__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 202px;
}
.guessnumbers__text {
  color: #039900;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.guessnumbers__input {
  width: 150px;
  height: 35px;
  padding: 10px;
  border-radius: 20px;
  background: #D7D7D7;
  border: none;
  box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4);
  transition: all 0.3s ease;
}
.guessnumbers__input::-moz-placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.guessnumbers__input::placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}

.paper {
  padding-top: 80px;
  text-align: center;
}
.paper__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  position: relative;
}
.paper__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 1px;
  background-color: #000;
  top: 245px;
}
.paper__content {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.paper__box {
  display: flex;
  justify-content: center;
  gap: 38px;
}
.paper__img {
  width: 40px;
  height: 40px;
}
.paper__score {
  position: absolute;
  left: 50%;
  transform: translateX(150%);
  top: 50%;
  transform: translateX(150%) translateY(-50%);
  text-align: left;
}
.paper__win {
  margin-top: 36px;
  color: #039900;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
}
.paper__button {
  margin-top: 36px;
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background: #000;
  width: 182px;
  height: 35px;
}

.calculator {
  padding-top: 62px;
  text-align: center;
}
.calculator__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.calculator__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
  position: relative;
}
.calculator__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 1px;
  background-color: #000;
  top: 155px;
}
.calculator__box {
  display: flex;
  flex-direction: column;
}
.calculator__img {
  width: 27px;
  padding: 10px, 5px;
  cursor: pointer;
}
.calculator__input {
  width: 150px;
  height: 35px;
  padding: 10px;
  border-radius: 20px;
  background: #D7D7D7;
  border: none;
  box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4);
  transition: all 0.3s ease;
}
.calculator__input::-moz-placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.calculator__input::placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.calculator__input--first {
  margin-right: 38px;
  margin-left: 175px;
}
.calculator__input--second {
  margin-right: 38px;
}
.calculator__input--result {
  margin-left: 38px;
}
.calculator__box--second {
  margin-right: 58px;
}

.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.header-modal__decoret {
  width: 30px;
  height: 30px;
  position: absolute;
}
.header-modal__decoret--top-left {
  top: 154px;
  left: 41px;
}
.header-modal__decoret--top-right {
  top: 154px;
  right: 41px;
}
.header-modal__decoret--bottom-left {
  bottom: 56px;
  left: 85px;
}
.header-modal__decoret--bottom-right {
  bottom: 56px;
  right: 85px;
}
.header-modal__title {
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  margin-top: 46px;
}
.header-modal__img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header-modal__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-modal__label {
  margin-top: 42px;
  margin-bottom: 18px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-modal__overlay {
  width: 576px;
  height: 316px;
  background: white;
  border-radius: 20px;
  position: relative;
}
.header-modal__box {
  display: flex;
  justify-content: space-between;
}
.header-modal__input {
  border-radius: 20px;
  background: #D7D7D7;
  border: none;
  width: 120px;
  height: 25px;
  padding: 10px 90px 10px 10px;
  margin-bottom: 18px;
  transition: all 0.3s ease;
}
.header-modal__input::-moz-placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.header-modal__input::placeholder {
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
}
.header-modal__btn {
  margin-top: 36px;
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 13px;
  font-weight: 400;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background: #000;
  width: 182px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */