<section class="guessnumbers">
    <div class="container">
        <!-- <div class="guessnumbers__box"> -->
        <h1 class="guessnumbers__title">Вгадай число, яке загадав комп’ютер</h1>
        <div class="guessnumbers__boks">
            <input type="text" placeholder="Введіть число" class="guessnumbers__input">
            <button class="guessnumbers__btn">
                <img src="./img/find.svg" class="guessnumbers__img" alt="">
            </button>
            <p class="guessnumbers__text">Вітаю, ви вгадали число! (number)</p>  
        </div>
        <!-- </div> -->
    </div>
</section>
