<header class="header">



    <a href="" class="logo">
        <img src="logo" alt="" class="img-logo">
    </a>

    <nav class="nav">
        <ul class="list">
            <li class="item"><a href="#" class="qwe">Інтерактив</a></li>
            <li class="item"><a href="#">Наша команда</a></li>
            <li class="item"><a href="#">Контакти</a></li>
        </ul>
    </nav>

    <div class="hellow">
        <input type="checkbox" name="btn" id="switch-btn">
        <label for="switch-btn">
            <img class="img-sun" src="../img/sun.webp" alt="">
            <img class="img-monthn" src="../img/month.webp" alt="">
        </label>
    </div>






</header>