<section class="header">


<div class="container">
    <a href="" class="logo">
        <img src="../img/logo.png" alt="" class="img-logo">
        <ul class="list-coding">
            <p class="coding">Coding</p>
            <p class="magic">Magic</p>
        </ul>
    </a>

    <nav class="nav">
        <ul class="list">
            <li class="item"><a href="#" class="link">Інтерактив ▼</a></li>
            <li class="item"><a href="#" class="link">Наша команда</a></li>
            <li class="item"><a href="#" class="link">Контакти</a></li>
        </ul>
    </nav>

    <div class="hellow">
        <input class="input" type="checkbox" name="btn" id="switch-btn">
        <label class="label" for="switch-btn">
            <img class="img-sun" src="../img/sun.png" alt="">
            <img class="img-monthn" src="../img/month.png" alt="">
        </label>
        <p class="text">Вітаємо, User!</p>
    </div>

        

</div>


</section>