<section class="ourteam-section">
  <h2 class="ourteam-title">Наша команда</h2>
  <div class="slider">
    <div class="arrow" id="prev">⬅</div>
    <div class="slides" id="slides">
      <div class="slide">
        <img src="./src/img/illia.png" alt="Розробник" />
      </div>
      <div class="slide">
        <img src="./src/img/kamcukonovich.png" alt="Розробник" />
      </div>
      <div class="slide">
        <img src="./src/img/nazar.png" alt="Тім лід, розробник" />
      </div>
      <div class="slide">
        <img src="./src/img/nikita.png" alt="Розробник" />
      </div>
    </div>
    <div class="arrow" id="next">➡</div>
  </div>
</section>
