<section class="paper">
    <div class="container">
        <h2 class="paper__title">Камінь - ножиці - папір</h2>

     <div class="paper__content">
    <div class="paper__box">
        <img src="./img/stone.png" alt="stone" class="paper__img">
        <img src="./img/scissors.png" alt="scissors" class="paper__img">
        <img src="./img/stone.png" alt="paper" class="paper__img">
    </div>

    <div class="paper__score">
        <p class="paper__text">Рахунок:</p>
        <p class="paper__text">Комп’ютер - 0</p>
        <p class="paper__text">Ви - 0</p>
    </div>
</div>
        
        <p class="paper__win">Ви виграли раунд!</p>
        
        <button type="button" class="paper__button">Варіант комп’ютера</button>

    </div>
</section>