/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.football-section #football-field {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
  background-color: #5ABB58;
  border-radius: 25px;
}
.football-section #football-field #ball {
  width: 50px;
  height: 50px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg");
  position: absolute;
  background-size: cover;
  top: 120px;
  left: 100px;
  transform: translate(-50%, -50%);
}
.football-section #football-field #goal {
  outline: 2px dashed #7E7E7E;
  background-color: #D7D7D7;
  width: 45px;
  height: 105px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px 0 0 20px;
}
.football-section #football-field #goal:last-child {
  right: 0;
  border-radius: 0 20px 20px 0;
}