// .container {
//     max-width: 1100px;
//     margin: 0 auto;
//     padding: 0 8px;
// outline: 1px solid rgb(255, 0, 0);
// }


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 40px;

    display: flex;
    align-items: center;
    gap: 40px;

     outline: 1px solid rgb(255, 0, 0);
}